table {
    margin: 10px 0;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 2px;
    display: table;
}
thead {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
tr.odd {
    background-color: #F8F8F8;
}
tr:last-child {
    border-bottom: 2px solid black;
}
